@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyraidPro/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyraidPro/MyriadPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-sans: "Myriad Pro", Arial, sans-serif;
  --font-mono: monospace;
}

.font-myriad {
  font-family: "Myriad Pro", Arial, sans-serif;
}

body {
  font-family: "Myriad Pro", Arial, sans-serif;
}

/* Scrollbar */
html {
  scrollbar-color: #6b6b6b #202020;
  scrollbar-width: auto;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
  border: 3px solid #202020;
}

::-webkit-scrollbar-thumb:hover {
  background: #858585;
}
